body{
  background-color: #282c34;
}

.whiteText{
  color: #fff;
}

.centered{
  text-align: center;
  margin:auto;
}

.App {
  text-align: center;
}

.App-header {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main-UI-Btn{
  padding:2em;
  border-radius:10px;
  background-color: rgba(50,200,130);
  border:none;
  font-weight: bold;

  margin-top: 1em;
  margin-bottom: 1em;
}

.content{
  /*max-width: 40%;*/
  margin:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
